<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>NHL On Ice Events</title>
  <meta name="description" content="NHL On Ice Events">
  <meta name="author" content="Matt">

  <!--<link rel="stylesheet" href="css/styles.css?v=1.0">i-->

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div id="content">
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://d3js.org/d3-queue.v2.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
